body {
    background: url(./lightpaperfibers.png);
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #0F4D92;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    max-width: 60%;
}

h1 {
    margin-top: 0px;
    font-size: 40px;
    font-weight: 700;
    color: #4F10AD;
}

h2 {
    padding-top: 70px;
    font-size: 28px;
    font-weight: 700;
    color: #4F10AD;
}

img {
    float: left;
    margin-right: 30px;
    width: 150px;
    height: 150px;
}

img.me {
    padding: 1px;
    border: 1px solid #021a40;
    width: 200px;
    height: 200px;
}

#link {
    text-decoration: none;
    font-weight: 400;
    color: #4F10AD;
}

#link:hover {
    color: #FFBC00;
}
